---
import Layout from "../layouts/Layout.astro";
import { EXPERIENCE } from "../lib/constants";
---

<Layout title="Fabian Casas Portfolio">
  <main class="flex flex-col justify-center items-start md:max-w-3xl mx-auto mb-16">
    {
      EXPERIENCE.map((exp) => (
        <div class="mt-20 mx-auto">
          <div class="-my-8 divide-y-2 divide-white border-t-2 dark:border-white border-black">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font dark:text-white text-black">
                  {exp.link}
                </span>
                <span class="mt-1 dark:text-gray-200 text-gray-900 text-sm">{exp.date}</span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-semibold dark:text-[#f9d4d4] text-indigo-500  title-font mb-2">
                  {exp.title}
                </h2>
                <p class="leading-relaxed text-black dark:text-white">
                  {exp.description}
                </p>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </main>
</Layout>
