---
import Card from "./Card/index.astro";
---

<Card
    colSpan="md:col-span-1 flex items-center justify-center"
    rowSpan="md:row-span-1"
    href="/experience"
>
    <p class="text-lg font-medium text-center">Experiencia</p>
</Card>
