---
import Card from "./Card/index.astro";
import { SKILLS } from "../lib/constants.ts";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-6"
  title="👨‍💻 Skills"
>
  <div class="mt-3">
    <ul
      data-cursor="text"
      class="pl-4 2xl:space-y-2 text-base text-black dark:text-white"
    >
      {
        SKILLS.map((skill) => (
          <li class="flex items-center gap-2 group">
            <span class="text-lg text-black dark:text-white">
              •
            </span>
            {skill.name}
          </li>
        ))
      }
    </ul>
    <p
      class="text-base text-gray-400 dark:text-gray-100 mt-0 2xl:mt-7 italic border-l-4 dark:border-indigo-500 border-orange-600 pl-3"
      data-cursor="text"
    >
      Además de programar, me gusta mucho el fútbol, los videojuegos y la
      música.
    </p>
  </div>
</Card>
